@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('../public/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  

  